
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
}

.gutenberg-content, .wp-site-blocks {

    ul:not(.wp-block-post-template){
        li{
            list-style-type: disc;
            list-style-position: inside;
        }
    }
    ol:not(.wp-block-post-template){
        li{
            list-style-type: decimal;
            list-style-position: inside;
        }
    }
    
        
    &:not(.wide)>*:not(.align-wrap){
        @include container-sm;
    }
    &.wide>*:not(.align-wrap){
        @include container-wide;
    }
    
    &>.align-wrap-wide{
        @include container-wide;
    }
    &>.align-wrap-full{
        @include container-full;
    } 
    .wp-block-separator{
        margin-bottom: 1.25rem;
    }
    &>*{
        margin-bottom: 1.25rem;
        @include container;
    }   
    .wp-block-group{
        margin-bottom: 1.25rem;
    }
    
} 

.wp-block-gallery>* {
    width: 100%;
}
