@layer components{
    .button{
        @apply text-base py-2 px-5 m-0 rounded-none bg-black text-white hover:bg-grey-4 leading-normal;
        box-shadow: none;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        overflow-wrap: break-word;

    }
    .button-big{
        @apply py-4 px-7
    }
}