
/**
* OBS. if you're making changes remember to update ../base/_base.scss to match styling in editor
*/
a{
    text-decoration: none;
}
p, a, pre{
    @apply text-black;
    line-height: inherit;
    font-weight: normal;
}


a{
    @apply no-underline;
}

body{
    @apply text-base;
    font-family: 'Inter', sans-serif;
}

h1,h2,h3,h4,h5{
    @apply text-black;
    line-height: 1.5;
    font-weight: bold;
} 


/**
* Align images and wrap text around without breaking words
*/

.wp-block[data-align="right"]{
    float: none !important;
    &>.wp-block-image{
        float: right;
    }
}
.wp-block[data-align="left"]{
    float: none !important;
    &>.wp-block-image{
        float: left;
    }
}

p{
    overflow-wrap:normal !important;
}
