@import "../abstracts/_breakpoints.scss";
@import "../components/_containers.scss";
@import "../components/_buttons.scss";
@import "../components/_grids.scss";
@import "../components/_posts-grid.scss";
@import "../components/_post-card.scss";
@import "../base/_normalize.scss";
@import "../base/_base.scss";



.wp-block{
    box-sizing: border-box;
    margin-bottom: 1.25rem;
}

ul.wp-block-list {
    li{
        list-style-type: disc;
        list-style-position: inside;
    }
}
ol.wp-block-list {
    li{
        list-style-type: decimal;
        list-style-position: inside;
    }
}
li{
    line-height: 1.5;
}
