/**
* Make footer stick to bottom if not enough content
*/
html{
    font-size: 100%;
}

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
}
/**
* END BLOCK
*/

body{
    font-family: 'Roboto', sans-serif;
}

p{
    font-size: var(--wp--preset--font-size--base);
}

p,a{
    line-height: 1.5;
    font-weight: 400;
}
h1,h2,h3,h4,h5{
    line-height: 1.5;
    font-weight: bold;
}
a{
    @apply text-primary;
}

.title, .editor-post-title__input{
    font-size: var(--wp--preset--font-size--5-xl);
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1;

    @include screen-md{
        font-size: var(--wp--preset--font-size--6-xl);
    }
}



// .wp-block-gallery>* {
//     width: 100%;
// }
