html{
    font-size: 100%;
}

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

p{
    font-size: var(--wp--preset--font-size--base);
}

p,a,h1,h2,h3,h4,h5{
    line-height: 1.5;
    font-weight: 400;
}

.title, .editor-post-title__input{
    font-size: var(--wp--preset--font-size--5-xl);
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1;

    @include screen-md{
        font-size: var(--wp--preset--font-size--6-xl);
    }
}

.wp-block-group,h1,h2,h3,h4,h5,h6{
    .has-background{
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;  
    }
}

.gutenberg-content, .wp-site-blocks {

    ul:not(.wp-block-post-template){
        li{
            list-style-type: disc;
            list-style-position: inside;
        }
    }
    ol:not(.wp-block-post-template){
        li{
            list-style-type: decimal;
            list-style-position: inside;
        }
    }
    
        
    &:not(.wide)>*:not(.align-wrap){
        @include container-sm;
    }
    &.wide>*:not(.align-wrap){
        @include container-wide;
    }
    
    &>.align-wrap-wide{
        @include container-wide;
    }
    &>.align-wrap-full{
        @include container-full;
    } 
    .wp-block-separator{
        margin-bottom: 1.25rem;
    }
    &>*{
        margin-bottom: 1.25rem;
        @include container;
    }   
    .wp-block-group{
        margin-bottom: 1.25rem;
    }
    
} 

.wp-block-gallery>* {
    width: 100%;
}
