/**
* OBS. if you're making changes remember to update ../gutenberg/_base.scss to match styling in editor
*/

body{
    font-family: 'Roboto', sans-serif;
} 

p, a, pre{
    line-height: 1.5;
    font-size: var(--wp--preset--font-size--base);
    font-weight: normal;
}

h1,h2,h3,h4,h5{
    line-height: 1.5;
    font-weight: bold;
} 
a{
    @apply text-primary no-underline;
}

/**
* Make footer stick to bottom if not enough content
*/
html{
    font-size: 100%;
}

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
}

.title, .editor-post-title__input{
    font-size: var(--wp--preset--font-size--5-xl);
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1;

    @include screen-md{
        font-size: var(--wp--preset--font-size--6-xl);
    }
}


/**
*   Match gutenberg containers frontend
*/
.gutenberg-content, .wp-site-blocks {

    &:not(.wide)>*:not(.align-wrap){
        @apply container-sm;
    }
    &.wide>*:not(.align-wrap){
        @apply container;
    }
    
    &>.align-wrap-wide{
        @apply container;
    }
    &>.align-wrap-full{
        @apply container-full;
    } 
    .wp-block-separator{
        @apply mb-5;    
    }
    &>*{
        @apply mb-5;
    }   
    .wp-block-group{
        @apply mb-5;    
    }
    
} 

// .wp-block-gallery>* {
//     width: 100%;
// }
