/**
* Lists
*/
.gutenberg-list>ul{
    li{
        list-style-type: disc;
        list-style-position: inside;
    }
}
.gutenberg-list>ol{
    li{
        list-style-type: decimal;
        list-style-position: inside;
    }
}

.gutenberg-list li {
    line-height: 1.5;
}