input:not([type=submit]), textarea{
    @apply border-grey-2 border;
    font-size: var(--wp--preset--font-size--base);
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-bottom: 1.25rem;
}
label{
    font-size: var(--wp--preset--font-size--base);
    color: var(--wp--preset--color--grey-3);
}