header{
    // background-color: var(--wp--preset--color--primary);
    // color: var(--wp--preset--color--white);
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    @apply px-5;
    display: flex;
    justify-content: space-between;
    align-items: center; 

    // Give all same width
    &>*{
        flex: 1;
    }
    /* alignment */
    .primary-nav {
        text-align: left;
    }
    .brandWrapper{
        text-align: center;
        justify-content: center;
        display: flex;
    }
    .secondary-nav{
        display: flex;
        justify-content: flex-end;
        text-align: right;
    }

    .brandWrapper{
        font-size: var(--wp--preset--font-size--2-xl);

        .logo{
            width: 6rem;
        }
        .site_title{
            margin-left: 1.25rem;
            width: 4rem;

            a{
                color: var(--wp--preset--color--white)
            }
        }
    }

}